/************************************Header************************************/
/*.ja_logo_header_text{text-decoration: none;color: rgb(227, 28, 20);font-family: 'Bebas Neue', 'Segoe UI';}
    .ja_logo_header_text_none{display: none;
        -webkit-transition: all 10s;
        -o-transition: all 10s;
        transition: all 10s;}*/

        /************************************Footer************************************/
    .ja_wpp_logo{
        position: fixed;
        bottom: 60px; 
        right: 20px; 
        width:50px;
        z-index: 10;
    }

/**********************************************INDEX.HTML**********************************************/
.ja_div_cards_1{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ja_div_cards_1 div{
    font-family:'Bebas Neue','Segoe UI','Arial', sans-serif;
    color: white;
    font-weight: light;
    font-size: 1.2rem;
    text-decoration: none;
    border-style: solid;
    border-width: 0.1em;
    border-color: white;
    height: 150px;
}
.ja_div_cards_1 a{
    border-style: solid;
    border-width: 0.1em;
    border-color: white;
    text-decoration: none;
    color: white;
    transition: all 250ms ease;
}
.ja_div_cards_1 div a:hover{
    background-color: white;
    color: black;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.ja_div_cards_1 .box1{
    background-image: url('../imgs/imgindex/cards_1/limpieza_autos.jpg');
    background-size: cover;
}
.ja_div_cards_1 .box2{
    background-image: url('../imgs/imgindex/cards_1/brillo_autos.jpg');
    background-size: cover;
}
.ja_div_cards_1 .box3{
    background-image: url('../imgs/imgindex/cards_1/lubricante_autos.jpg');
    background-size: cover;
}
.ja_div_cards_1 .box4{
    background-image: url('../imgs/imgindex/cards_1/perfume_autos.jpg');
    background-size: cover;
}
.ja_map_index_title{
    font-family:'Bebas Neue','Segoe UI','Arial', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}
.ja_map_index_text{
    font-family:'Noto','Segoe UI','Arial', sans-serif;
    font-size: 1rem;
    text-align: center;
}
.ja_map_index_button{
    text-align: center;
    font-family: 'Bebas Neue','Segoe UI','Arial', sans-serif;
}
.ja_map_index_button a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    transition: all 250ms;
}
.ja_map_index_button a:hover{
    font-family: 'Bebas Neue','Segoe UI','Arial', sans-serif;
    color: white;
    background-color: black;
    transition: all 500ms;
}
.ja_index_numbers{
    background-color: black;
    color: rgb(227, 28, 20);
}
.ja_index_numbers_title{
    font-size: 2.5rem;
    font-family: 'Bebas Neue','Segoe UI','Arial', sans-serif;
    text-align: center;
}
.ja_index_numbers_text{
    text-align: center;
    font-family: 'Bebas Neue','Segoe UI','Arial', sans-serif;
    font-size: 1.5rem;
}
.ja_index_numbers_numbers{
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
}
.ja_index_cat{
    background-image: url(../imgs/imgindex/background_index.jpg);
    background-size: cover;
    background-position: 0%;
}
.ja_index_cat_title{
    color: white;
    text-align: center;
    font-family: 'Bebas Neue','Segoe UI','Arial', sans-serif;
    font-size: 2.5rem;
}
.ja_index_cat_text{
    color: white;
    font-family:'Noto','Segoe UI','Arial', sans-serif;
    font-size: 1rem;
    text-align: center;
}
.ja_index_cat_button{
    text-align: center;
    font-family: 'Bebas Neue','Segoe UI','Arial', sans-serif;
}
.ja_index_cat_button a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    transition: all 250ms;
}
.ja_index_cat_button a:hover{
    color: white;
    background-color: black;
    transition: all 500ms;
}


/**********************************************DELETE.HTML**********************************************/
.ja_carousel_button{
    width: 10px !important; 
    height: 10px !important; 
    border-radius: 100%;
}
.ja_caption_carousel_white{
    color: black;
}
.ja_div_cards{
    font-family: 'Noto','Segoe UI','Arial', sans-serif;
    background-image: url('../imgs/imgindex/background_index.jpg');
    background-size: cover;
}